{% load static %}
<!-- nis footer -->
 <footer class="container-fluid text-center">
    <p>Contact us at: <a href="gmailto:nekolaska@gmail.com">nekolaska@gmail.com</a></p>
    <p>Phone: <a href="tel:+3556768345">+3556768345</a></p>
    <p>Visit us: Street "Abdyl Frasheri",Tirana,Albania</p>
    <p>Join our workshops on Sundays!</p>
    <hr>
    <div class="mt-4">
      <p>Follow us on:</p>
      <a href="" class="me-3 fs-4"> <i class="fa-brands fa-instagram"></i></a>
      <a href="" class="me-3 fs-4"> <i class="fa-brands fa-facebook"></i></a>
    </div>
    <p> Copy right <span id="year"></span></p>
 </footer>
 <!-- fund footer -->